

.container {
    margin: 50px auto;
    width: 640px;
    text-align: center;

    .button { margin: 0 10px 25px; }
}

.button {
    margin: 0 0 5px;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px #ea8f99;
    background:#9c9a9a;
    border-width: 1px 1px 0;
    border-style: solid;
    border-radius: 3px 3px 2px 2px;
    outline: 0;


    &:hover, &:active {
        background: #e46565;

        vertical-align: -5px;
        margin-bottom: 0;
        padding: 1px 13px 0;
        border-width: 0;
        border-radius: 3px;
    }
}